/*IS 403 Data Structures Assignment
    Ross Rosenlof, Trevan Reese, Caden Dortch, Ryan Jenks
    This website shows how three data
    structures - stacks, dictionaries, and queues,
    handle data and output them to a view.-*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.vertical-menu {
    width: 180px; /* Set a width if you like */
}

.vertical-menu a {
background-color: #86b590; /* Green background color */
display: block; /* Make the links appear below each other */
padding: 12px; /* Add some padding */
text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #5f966b; /* Dark grey background on mouse-over */
}

.display-output {
    display: inherit;
}

.column {
    float: left;
}

.left {
    width: 20%;
}

.right {
    width: 80%;
    padding-left: 20px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

body {
    background-color: floralwhite;
}

h2 {
    font-family: 'Baloo', cursive;
    color: darkgoldenrod;
}

.index-menu, .vertical-menu {
    font-family: 'Baloo', cursive;
    color: #fff!important;
}

p {
    font-family: 'Lora', serif;    
}

.index-menu a {
    background-color: #86b590!important; /* Green background color */
    align-content: center!important;
    text-decoration: none; /* Remove underline from links */
    font-size: xx-large;
}

.index-menu a:hover {
    background-color: #5f966b!important; /* Dark grey background on mouse-over */
}

