.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
background-color: #ccc; /* Grey background color */
color: black; /* Black text color */
display: block; /* Make the links appear below each other */
padding: 12px; /* Add some padding */
text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}



