.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
background-color: #ccc; /* Grey background color */
color: black; /* Black text color */
display: block; /* Make the links appear below each other */
padding: 12px; /* Add some padding */
text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.display-output {
    display: inherit;
}

.column {
    float: left;
}

.left {
    width: 20%;
}

.right {
    width: 80%;
    padding-left: 20px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}