<!--Queue Index-->
@{
    ViewBag.Title = "IndexQueue";
}

<h2>Queue</h2>
<div class="vertical-menu">
    <a href="#" class="active">1. Add one time to Queue</a>
    <a href="#">2. Add Huge List of Items to Queue</a>
    <a href="#">3. Display Queue</a>
    <a href="#">4. Delete from Queue</a>
    <a href="#">5. Clear Queue</a>
    <a href="#">6. Search Queue</a>
    <a href="#">7. Return to Main Menu</a>
</div>