<!--Stack Index-->
@{
    ViewBag.Title = "IndexStack";
}

<h2>Stack</h2>
<div class="vertical-menu">
    <a href="#" class="active">1. Add one time to Stack</a>
    <a href="#">2. Add Huge List of Items to Stack</a>
    <a href="#">3. Display Stack</a>
    <a href="#">4. Delete from Stack</a>
    <a href="#">5. Clear Stack</a>
    <a href="#">6. Search Stack</a>
    <a href="#">7. Return to Main Menu</a>
</div>