<!--IS 403 Data Structures Assignment
    Ross Rosenlof, Trevan Reese, Caden Dortch, Ryan Jenks
    This website shows how three data
    structures - stacks, dictionaries, and queues,
    handle data and output them to a view.-->
@{
    ViewBag.Title = "Index";
}

<body>
    <h2 class="center">Index</h2>
    <div class="w3-bar center index-menu">
        <a href="@Url.Action("IndexStack", "Stack")" class="w3-bar-item w3-button">1. Stack</a>
        <a href="@Url.Action("IndexQueue", "Queue")" class="w3-bar-item w3-button">2. Queue</a>
        <a href="@Url.Action("IndexDictionary", "Dictionary")" class="w3-bar-item w3-button">3. Dictionary</a>
        <a href="@Url.Action("BYU", "Index")" class="w3-bar-item w3-button">4. Exit</a>
    </div>
    <div class="image">
        <!--image here-->

    </div>
</body>
